<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Stock Returns' } %>

<% content_for :page_actions do %>
  <% if @order.shipments.any? &:shipped? %>
    <li>
      <%= button_link_to Spree.t(:new_stock_return), new_admin_order_stock_return_url(@order), :icon => 'icon-plus' %>
    </li>
  <% end %>
  <li><%= button_link_to Spree.t(:back_to_orders_list), spree.admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= Spree.t(:stock_returns) %>
<% end %>

<% if @order.shipments.any?(&:shipped?) || @order.stock_returns.any? %>
  <table class="index" id="listing_stock_returns">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_returns.each do |stock_return| %>
        <tr id="<%= spree_dom_id(stock_return) %>" class="<%= cycle('odd', 'even')%>">
          <td><%= link_to stock_return.id, spree.admin_order_stock_return_path(@order, stock_return) %></td>
          <td><%= pretty_time(stock_return.created_at) %></td>
          <td class="actions">
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:cannot_create_stock_returns) %>
  </div>
<% end %>
