<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Stock Returns' } %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_stock_returns), spree.admin_order_stock_returns_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= Spree.t(:stock_return) %> #<%= @stock_return.id %>
<% end %>

<div id='new_refund'>
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:refunds) %></legend>
    <div class="field twelve columns alpha">
      <%= form_tag '', :'data-url' => spree.api_order_stock_return_refunds_path(@order, @stock_return) do %>
        <p class='field'>
          <%= text_field_tag 'quantity', 1, :size => 3 %>
          x
          <%= select_tag 'variant_id', options_from_collection_for_select(@order.variants, :id, :sku) %>
          <%= submit_tag 'Add' %>
        </p>
      <% end %>
    </div>
  </fieldset>
</div>

<table class='index' id='listing_refunds'>
  <thead>
    <th><%= Spree.t(:item) %></th>
    <th><%= Spree.t(:unit_price) %></th>
    <th><%= Spree.t(:total_price) %></th>
    <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions">&nbsp;</th>
  </thead>

  <tbody>
    <% @stock_return.refunds.each do |refund| %>
      <% variant = refund.variant %>
      <td class="variant">
      <%= link_to '' do %>
        <%= small_image(variant) %>
          <span class='item_details'><%= refund.quantity %> x <%= variant.product.name %><br><%= "(" + variant_options(variant) + ")" unless variant.option_values.empty? %><br></span>
          <%= Spree.t(:sku) %>: <%= variant.sku %>
      <% end %>
      </td>
      <td class="price"><%= refund.items.first.display_price %></td>
      <td class="price"><%= refund.display_total_price %></td>
    <% end %>
  </tbody>
</table>
