<fieldset class="no-border-bottom state_info" id='address_info'>
  <legend>{{i18n 'order.states.address' }}</legend>

  {{#if canUpdate}}
    <div class="twelve columns" id='user_info'>
      {{view Ember.Checkbox checkedBinding="controller.guestCheckout" id='guest_checkout' }}
      <label for='guest_checkout'>{{i18n 'guest_checkout' }}</label>
      {{#if guestCheckout}}
        <div id='guest_checkout_fields'>
          <label for='order_email'>{{i18n 'email'}}</label><br>
          <input type='email' id='order_email' name='order[email]'>
        </div>
      {{else}}
        <p class='field' id='user_picker'>
          <label for='order_user_id'>{{i18n 'choose_a_customer' }}</label>
          {{input type='hidden' id='order_user_id' class='fullwidth' value=user_id}}
        </p>
      {{/if}}
    </div>
  {{/if}}
  <div class="alpha six columns" id='billing_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.bill_address' }}</legend>
      {{#with bill_address as address}}
        {{#if canUpdate}}
          {{render 'orders/addresses/form' address}}
          <span>
            <input type='checkbox' id='use_billing' {{bind-attr checked=useBilling}} {{action 'useBilling'}}>
          </span>
        {{else}}
          {{partial 'orders/addresses/show'}}
        {{/if}}
      {{/with}}
    </fieldset>
  </div>

  <div class="alpha six columns" id='shipping_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.ship_address'}}</legend>
      {{#with ship_address as address}}
        {{#if canUpdate}}
          {{render 'orders/addresses/form' address}}
        {{else}}
          {{partial 'orders/addresses/show'}}
        {{/if}}
      {{/with}}
    </fieldset>
  </div>
  <div>
    <button {{action 'update'}}>{{i18n 'actions.update' }}</button>
  </div>
</fieldset>