<script type='text/template' id='order_states_delivery_template'>
  <legend><%%= position %>. <%= Spree.t("order_state.delivery") %></legend>
  <%% if (order.get('special_instructions')) { %>
    <strong><%= Spree.t(:special_instructions) %></strong>: <%%= order.get('special_instructions') %>
  <%% } %>
</script>

<script type='text/template' id='shipment_template'>
  <%% can_update = shipment.get('permissions').can_update %>
  <fieldset class="no-border-bottom">
    <legend align="center" class="stock-location" data-hook="stock-location">
      <span class="shipment-number"><%%= shipment.get('number') %></span>
      -
      <span class="shipment-state"><%%= Spree.translations.shipment_states[shipment.get('state')] %></span>
      <%= Spree.t(:package_from) %>
      <strong class="stock-location-name" data-hook="stock-location-name">'<%%= shipment.get('stock_location_name') %>'</strong>
      <%% if (shipment.isReady() && can_update) { %>
        <a href='#' class='ship button icon-arrow-right'><%= Spree.t(:ship) %></a>
      <%% } %>
    </legend>
  </fieldset>

  <table class="stock-contents index" data-hook="stock-contents">
    <colgroup>
      <col style="width: 10%;" />
      <col style="width: 25%;" />
      <col style="width: 15%;" />
      <col style="width: 20%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
    </colgroup>

    <thead>
      <th colspan="2"><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:price) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:total) %></th>
      <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions"></th>
    </thead>

    <tbody>
    <%% _.each(shipment.get('manifest'), function(item) { %>
      <tr class="stock-item">
        <td class="item-image">
          <img src='<%%= shipment.imageForVariant(item.variant_id) %>'>
        </td>
        <td class="item-name">
          <%% item.variant = shipment.findVariant(item.variant_id) %>
          <%% item.line_item = shipment.findLineItem(item.variant_id) %>
          <%%= item.variant.name %><br>
          <%% if (item.variant.options_text.length > 0) { %>
            (<%%= item.variant.options_text %>)<br>
          <%% } %>
          <%% if (item.variant.sku.length > 0) { %>
            <strong><%= Spree.t(:sku) %>:</strong> <%%= item.variant.sku %>
          <%% } %>
        </td>
        <td class="item-price align-center"><%%= item.line_item.single_display_amount %></td>
        <td class="item-qty-show align-center">
          <%% _.each(item.states, function(count, state) { %>
            <%%= count %> x <%%= Spree.translations.inventory_states[state] %><br>
          <%% }) %>
        </td>
        <td class="item-qty-edit hidden">
          <input type='number' id='quantity' min='0' class='line_item_quantity' size='5' value='<%%= item.quantity %>'>
        </td>
        <td class="item-total align-center"><%%= item.price %></td>
        <td class="cart-item-delete actions" data-hook="cart_item_delete">
          <%% if (can_update) { %>
            <a href='#' class="save-item icon_link icon-ok no-text with-tip" data-variant-id='<%%= item.variant.id %>' data-action='save' title='<%= Spree.t('actions.save') %>' style='display:none'></a>
            <a href='#' class="cancel-item icon_link icon-cancel no-text with-tip" data-action="cancel" title='<%= Spree.t('actions.cancel') %>' style='display:none'></a>
            <a href='#' class='edit-item icon_link icon-edit no-text with-tip' data-action="edit" title='<%= Spree.t('edit') %>'></a>
            <a href='#' class='split-item icon_link icon-resize-horizontal no-text with-tip' data-variant-id='<%%= item.variant.id %>' data-action='split' data-quantity="<%%= item.quantity %>" title='<%= Spree.t('split') %>'></a>
            <a href='#' class='delete-item icon-trash no-text with-tip' data-variant-id='<%%= item.variant.id %>' data-action='remove' title='<%= Spree.t('delete') %>'></a>
          <%% } %>
        </td>
      </tr>
    <%% }) %>
    <%% if (shipment.state != 'shipped') { %>
      <%% if (can_update) { %>
        <tr class="edit-method hidden total">
          <td colspan="5">
            <div class="field alpha five columns">
              <label for='selected_shipping_rate_id'><%= Spree.t(:shipping_method) %></label>
              <select id='selected_shipping_rate_id' class='select2 fullwidth'>
              <%% _.each(shipment.get('shipping_rates'), function(rate) { %>
                <option value='<%%= rate.id %>' <%% if (rate.id == shipment.get('selected_shipping_rate').id) { %> selected='selected' <%% } %>>
                  <%%= rate.name %><%%= rate.display_price %>
                </option>
              <%% }) %>
            </div>
          </td>
          <td class="actions">
            <a href='#' class='save-method icon_link icon-ok no-text with-tip' title='<%= Spree.t('actions.save') %>'></a>
            <a href='#' class='cancel-method icon_link icon-cancel no-text with-tip' title='<%= Spree.t('actions.cancel') %>'></a>
          </td>
        </tr>
      <%% } %>
      <tr class="show-method total">
        <%% selected_rate = shipment.get('selected_shipping_rate') %>
        <%% if (selected_rate != undefined) { %>
          <td colspan="4">
            <strong><%%= selected_rate.name %></strong>
          </td>
          <td class="total" align="center">
            <span><%%= selected_rate.display_cost %></span>
          </td>
        <%% } else { %>
          <td colspan='5'><%%= Spree.translations.no_shipping_method_selected %></td>
        <%% } %>

        <td class="actions">
          <%% if (can_update) { %>
            <a href='#' class='edit-method icon_link icon-edit no-text with-tip' title='<%= Spree.t('edit') %>'></a>
          <%% } %>
        </td>
      </tr>
    <%% } %>

    <%% if (can_update) { %>
      <tr class="edit-tracking hidden total">
        <td colspan="5">
          <label><%= Spree.t(:tracking_number) %>:</label>
          <input type='text' id='tracking' value='<%%= shipment.get('tracking') %>'>
        </td>
        <td class="actions">
          <a href='#' class='save-tracking icon_link icon-ok no-text with-tip' title='<%= Spree.t('actions.save') %>'></a>
          <a href='#' class='cancel-tracking icon_link icon-cancel no-text with-tip' title='<%= Spree.t('actions.cancel') %>'></a>
        </td>
      </tr>

      <%% special_instructions = shipment.order().get('special_instructions') %>
      <%% if (special_instructions != null) { %>
        <tr class='special_instructions'>
          <td colspan="5">
            <strong><%= Spree.t(:special_instructions) %>:&nbsp;</strong><%% special_instructions %>
          </td>
        </tr>
      <%% } %>

      <%% tracking = shipment.get('tracking') %>
      <tr class="show-tracking total">
        <td colspan="5">
          <%% if (tracking != null) { %>
            <strong><%= Spree.t(:tracking) %>:</strong>
            <span class="tracking-value"><%%= tracking %></span>
          <%% } else { %>
            <span class="tracking-value"><%%= Spree.translations.no_tracking_present %></span>
          <%% } %>
        </td>
        <td class="actions">
          <a href='#' class='edit-tracking icon_link icon-edit no-text with-tip' title='<%= Spree.t('edit') %>'>
        </td>
      </tr>
    <%% } %>
    </tbody>
  </table>
</script>