<tr>
  <td>{{prettyDateTime created_at}}</td>
  <td class="align-center amount">{{display_amount}}</td>
  <td class="align-center">{{payment_method.name}}</td>
  <td class="align-center">
    <span {{bind-attr class=":state state"}}>{{state}}</span>
  </td>
  <td class="actions">
  actions go here
  </td>
</tr>