<% content_for :page_actions do %>
  <%= render "actions" %>
<% end %>

<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:order)} ##{@order.number}", spree.edit_admin_order_path(@order) %>
<% end %>

<% content_for :sidebar do %>
  <%= render "submenu", current: 'Order Details' %>
  <div id='order_information'>
  </div>
<% end %>

<% content_for :sidebar_title do %>
  <%= "#{Spree.t(:order)} ##{@order.number}" %>
<% end %>

<div data-hook="admin_order_form_fields" id='order'>

  <div id='address_info'>

  </div>

  <div id='delivery_info'>

  </div>


  <%= image_tag "spinner.gif", class: 'spinner' %>
</div>

<script>
  var order_number = '<%= @order.number %>';
</script>

<%= render :partial => "spree/admin/orders/states", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete_stock", :formats => :js %>
<%= render :partial => "spree/admin/orders/summary", :formats => :js %>
<%= render :partial => "spree/admin/line_items/show", :formats => :js %>
<%= render :partial => "spree/admin/shipments/show", :formats => :js %>
<%= render :partial => "spree/admin/variants/split", :formats => :js %>
<%= render :partial => "spree/admin/orders/customer_details/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/orders/customer_details/show", :formats => :js %>
<%= render :partial => "spree/admin/orders/totals", :formats => :js %>
